<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.example.supplier">

    <application>
        <activity
            android:name=".view.SupplierActivity">

            <intent-filter>
                <action android:name="action.supplier.item.selection"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>